/* TODO: Make it awesome */

header{
  background-color: aquamarine;
}

body header {
  border: blue 2px solid;
}

body header h1 {
  font-weight: bold;
}

body main section div h1{
  font-weight: normal;
}

.card header{
  margin-top: 105px;
}

body header nav{
  display: flex;
  justify-items: right;
}